{block}
	<ul>
		<li>
			<a n:href=":StepOne:Homepage:default">StepOne</a>
		</li>
		<li>
			<a n:href=":StepTwo:Homepage:default">StepTwo</a>
		</li>
		<li>
			<a n:href=":StepThree:Homepage:default">StepThree</a>
		</li>
		<li>
			<a n:href=":StepFour:Homepage:default">StepFour</a>
		</li>
		<li>
			<a n:href=":StepFive:Homepage:default">StepFive</a>
		</li>
		<li>
			<a n:href=":StepSix:Homepage:default">StepSix</a>
		</li>
	</ul>
{/block}
